In [1]:
print("Sami ul Haq")

Sami ul Haq

# Testing

In [6]:
a=10
b=20
if a<b:
    print("a chota hai")
    print()
    print()
    print()
if b>a:
    print("b id grester then a")

a chota hai



b id grester then a

In [15]:
num = int( input(" enter a number "))
if num%2 ==0:
    print(" your number is even ")
if num%2 != 0:
    print(" your number is odd ")

 enter a number 23
 your number is odd

In [1]:
print("My Name Is Sami")

My Name Is Sami

In [2]:
print("Print A \n Print B")

Print A
 Print B

In [3]:
print("My Name IS \"Sami ul Haq\"")

My Name IS "Sami ul Haq"

In [4]:
print("i'm Sami")

i'm Sami

In [5]:
print("My Name Is \t Sami")

My Name Is 	 Sami

In [6]:
print("This IS Backspacs\b")

This IS Backspacs

In [1]:
name = input("input your name plz")
age = input("input age")
print(f"my name is {name} And My Age Is {age}")

input your name plzSarfaraz
input age23
my name is Sarfaraz And My Age Is 23

In [5]:
user_cnic = input("Do You Have CNIC: ").lower()
if user_cnic == "yes" :
    print("He Has Valid CNIC")
    voter_list = input("Your Name In The VOter List? ").lower()
    if voter_list == "yes" :
        print("You Can Vote !!")
    else:
        print("You Can Not Caste Vote")
else:
    print("Sorryy  !!")

Do You Have CNIC: yes
He Has Valid CNIC
Your Name In The VOter List? no
You Can Not Caste Vote

In [9]:
user_cnic = input("do you have cnic").lower()
if user_cnic == "yes" :
    print("he has  valid cnic")
    voter_list = input("your name in the voter list").lower()
    if voter_list == "yes" :
        print("you can cast vote")
    else : 
        print("you can not caste vote")
else :
    print("sorry")

do you have cnicyes
he has  valid cnic
your name in the voter listno
you can not caste vote

In [23]:
age = int(input("plz enter your age = "))
if age >= 18 :
    print("you can go to cinema")
    ticket = input("have you ticket: ").lower()
    if ticket == "yes":
        print("you are allowed to enter into cinema")
    else:
        print("sorry you are not allowed")
else:
    print("you can not go to cinema")

plz enter your age = 45
you can go to cinema
have you ticket: no
sorry you are not allowed

In [30]:
num1 = int(input("Enter 1st Num: "))
num2 = int(input("Enter 2nd Num: "))
if num1 == num2 :
    print(f"{num1} is equals to {num2}")
elif num1 > num2 :
    print(f"{num1} is greatr then {num2}")
elif num1 < num2 :
    print(f"{num1} is less then {num2}")
else:
    print("Errorr")

Enter 1st Num: 23
Enter 2nd Num: 44
23 is less then 44

In [ ]:
user_cnic = input("do you have cnic").lower()
ffff = input("do you have cnic").lower()
if user_cnic == "yes" and ffff == "yes" :
    print("you are allowed to caste vote")
else:
    print("no")

In [ ]:
list

In [4]:
students = ['ali', 'imran', 'sami']

In [5]:
len(students)

3

In [6]:
students[1]

'imran'

In [7]:
list1 = ["sami" , "sarfaraz" , "Ather"]
print(list1)

['sami', 'sarfaraz', 'Ather']

In [9]:
list1[2]

'Ather'

In [10]:
list1.append("Wajid")

In [11]:
print(list1)

['sami', 'sarfaraz', 'Ather', 'Wajid']

In [12]:
list1.insert(2,"Ali")
print(list1)

['sami', 'sarfaraz', 'Ali', 'Ather', 'Wajid']

In [13]:
list1.pop()

'Wajid'

In [15]:
del list1[2]
print(list1)

['sami', 'sarfaraz']

In [16]:
list1.remove("sami")
print(list1)

['sarfaraz']

In [17]:
list1.clear()

In [19]:
print(list1)

[]

In [23]:
mylist = ["Sami" , "Sarfaraz" , "Ather" , "Bilal"]
print(mylist.count("Sami"))
print(mylist)

1
['Sami', 'Sarfaraz', 'Ather', 'Bilal']

In [24]:
nums = [1,3,5,7,9,2,4,6,8]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
nums.sort(reverse=True)
print(nums)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [34]:
num2 = nums.copy()
print(nums)
print(num2)

[9, 8, 7, 6, 5, 4, 3, 2, 1]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [35]:
print(len(num2))

9

In [39]:
listf = ["Sami ul Haq" , 23 , ["Wah Wah" , "Man Nahen" , "kela"] ]

In [45]:
listf[2][0]

'Wah Wah'

In [49]:
lists = list(range(1,11))
print(lists)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [71]:
lis1 = ["Sami", "Sarfaraz" , "Ather" , ["Apple" , "Mango", "Banana"]]

In [72]:
lis1[3].remove("Apple")

In [73]:
print(lis1)

['Sami', 'Sarfaraz', 'Ather', ['Mango', 'Banana']]

In [74]:
lis1[3].insert(1,"Apple")

In [75]:
print(lis1)

['Sami', 'Sarfaraz', 'Ather', ['Mango', 'Apple', 'Banana']]

In [79]:
list1 = ["Sami" , "sarfaraz" , "Ather" , "Bilal"]
list1[::-1]

['Bilal', 'Ather', 'sarfaraz', 'Sami']

In [1]:
mylist1 = ["Sami" , "sarfaraz" , "Ather" , "Bilal"]

# Dictionary

In [38]:
mydict = {"Name" : "Sami ul Haq",
          "Class" : "1st Year",
           "Degree" : "B.E"}

In [6]:
mydict["Name"]

'Sami ul Haq'

In [7]:
for k,v in mydict.items():
    print(f"The Key Is {k} And The Value Is {v}")

The Key Is Name And The Value Is Sami ul Haq
The Key Is Class And The Value Is 1st Year
The Key Is Degree And The Value Is B.E

In [8]:
for k in mydict.keys():
    print(f"My keys Are {k}")

My keys Are Name
My keys Are Class
My keys Are Degree

In [12]:
for k in mydict.values():
    print(f"My Value Are {k}")

My Value Are Sami ul Haq
My Value Are 1st Year
My Value Are B.E

In [11]:
for k in mydict.keys():
    print(mydict[k])

Sami ul Haq
1st Year
B.E

In [26]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]
c = ["apple" , "banana" , a ,b, mydict]

In [27]:
print(c)

['apple', 'banana', [1, 2, 3, 4, 5], [6, 7, 8, 9, 10], {'Name': 'Sami ul Haq', 'Class': '1st Year', 'Degree': 'B.E'}]

In [28]:
print(c[3])

[6, 7, 8, 9, 10]

In [29]:
print(c[2][3])

4

In [21]:
print(c)

['apple', 'banana', [1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]

In [33]:
aa = [1,2,3,4,5]
bb = [6,7,8,9,10]
sa = ["apple" , "banana" , {"name" : "Sami ul Haq", "age" : 23}]

In [35]:
print(sa[2]["name"])

Sami ul Haq

In [36]:
mydic= {"name":["a","b","c"]}
mydic["name"].remove("b")

In [37]:
print(mydic)

{'name': ['a', 'c']}

['apple',
 'banana',
 [1, 2, 3, 4, 5],
 [6, 7, 8, 9, 10],
 {'Name': 'Sami ul Haq', 'Class': '1st Year', 'Degree': 'B.E'}]

# Functions

In [50]:
def add(a,b):
    return a+b

In [54]:
a = int(input("Enter 1st Number: "))
b = int(input("Enter 2nd Number: "))
print(add(a,b))

Enter 1st Number: 12
Enter 2nd Number: 12
24

In [55]:
add(a,b)

24

In [59]:
def ful_name(wife,husband):
    print(f"The Name Is {wife} {husband} ")
ful_name("Sana","khan")

The Name Is Sana khan

In [62]:
add(10,794820)

794830

In [71]:
def operation(a,b,operator):
    if operator == "+":
        return a + b
    elif operator == "-":
        return a - b
    elif operator == "*":
        return a * b
    else:
        return a / b

a = int(input("Enter 1st Number: "))
b = int(input("Enter 2nd Number: "))
operator = input("Enter Operator: ")

print(operation(a,b,operator))

Enter 1st Number: 22
Enter 2nd Number: 22
Enter Operator: *
484

In [65]:
a = int(input("Enter 1st Number: "))

4

In [73]:
vowel = ['a','e','i','o','u']
string = input("Enter Any Character: ").lower()
if string in vowel:
    print(f"Letter {string} is vowel")
else:
    print(f"Letter {string} is not a vowel")

Enter Any Character: d
Letter d is not a vowel

In [1]:
def cal(a,b):
    return a+b
ai = cal(10,20)
print(ai)

30

In [5]:
def cal(a,b):
    c=a+b
    return c
a=cal(3,9)
print(a)

12

In [21]:
def name(friends):
    for i in friends:
        a = "Hello, " + i
        print(a)
user = ["Sami" , "Hamza"]

name(user)

Hello, Sami
Hello, Hamza

In [27]:
def info(my_name,f_name):
    print(f"My Name Is {my_name} And My Father Name Is {f_name}.")
print(info("Sami ul Haq","Attiullah"))

My Name Is Sami ul Haq And My Father Name Is Attiullah.
None

In [28]:
def user_info(name,age,gender):
    print(f"My Name Is {name} And My Age Is {age} And I Am {gender}")
user_info("sami ul Haq", 23 , "Male")

My Name Is sami ul Haq And My Age Is 23 And I Am Male

In [5]:
def user_info(name,age,gender):
    print(f"My Name Is {name} And My Age Is {age} And I Am {gender}")
a = input("Enter Name: ")
b = int(input("Enter Age: "))
c = input("Enter Gender: ") 
info = user_info(a,b,c)
print(info)

Enter Name: Sami
Enter Age: 26
Enter Gender: Male
My Name Is Sami And My Age Is 26 And I Am Male
None

In [2]:
def education(school,college,uni):
    print(f"I Did My Matriculation From {school}")
    print(f"I Did My Matriculation From {college}")
    print(f"I Did My Matriculation From {uni}")
education("Al Shams","D.J","IIEE")

I Did My Matriculation From Al Shams
I Did My Matriculation From D.J
I Did My Matriculation From IIEE

# While LOOP

In [6]:
a = 1
while a < 10:
    print(a," Chota Ha 10 Se")
    a += 1

1  Chota Ha 10 Se
2  Chota Ha 10 Se
3  Chota Ha 10 Se
4  Chota Ha 10 Se
5  Chota Ha 10 Se
6  Chota Ha 10 Se
7  Chota Ha 10 Se
8  Chota Ha 10 Se
9  Chota Ha 10 Se

In [ ]:
for i in range(10):
    name = input("Enter Your Name: ")
    if name == "Close"
    break
    print(f"Welcome Sir {name}")